@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

header {
  margin: 0px;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 100;
  text-decoration: none;
  font-size: 1rem;
}
.topnav p {
  transition: 0.3s;
  text-shadow: 2px 8px 8px black;
  font-size: calc(1rem + 1vw);
}

.topnav img {
  transition: 0.5s;
  margin-right: 0px;
  width: calc(5rem + 10vw);
}

.topnav img:hover {
  width: calc(120px + 10vw);
}

.topnav-right {
  float: right;
}

.topnav-right p:hover {
  text-shadow: 4px 16px 16px black;
}

.mainbackground {
  background: url("../public/Background2.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0px;
}

body {
  background: url("../public/Space.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0px;
}

.card {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  color: white;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.gamecard a {
  text-decoration: none;
}

.gamecard p {
  font-size: 2rem;
}

.gamecard img {
  width: 10rem;
}

.indexcard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.maintitle {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: calc(1.5rem + 3vw);
  color: white;
  text-shadow: 4px 10px 8px black;
}

.maintitle p {
  font-size: calc(1.5rem + 3vw);
}

.mainbanner {
  width: auto;
  transition: 0.3s;
  border-radius: 1rem;
}

.mainbanner a {
  text-decoration: none;
}

.mainbanner img {
  margin: 0px;
  width: calc(3rem + 40vw);
  transition: 0.3s;
  border-radius: 1rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.mainbanner img:hover {
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 1);
}

footer {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: calc(0.7rem + 0.5vw);
  padding: 0.1rem;
  transition: 3s;
}

.footerspacer {
  min-height: 100vh;
}

footer img {
  width: 2rem;
}

footer p {
  font-size: 1rem;
}

footer a {
  color: white;
}

.ref a {
  text-decoration: none;
  font-size: 1.5rem;
}

.ref a:hover {
  border-bottom: solid white 0.1rem;
  font-weight: 300;
}
